# Virtual environments
venv/
backend/venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data outputs
data/cache/
data/processed/
backend/data/raw/gee/*.png
backend/data/raw/aws/*.png
backend/data/raw/sample/*.png

# Model weights (large files)
backend/models/pretrained/models--*/
backend/models/pretrained/.locks/

# Node / Frontend
frontend/node_modules/
frontend/build/

# Python
backend/venv/
__pycache__/
